
{% extends "bootstrap/base.html" %}
{% block title %}
   <!-- Basic conditonal statement in jinja templates -->
   {% if title %}
   <title>{{ title}}</title>
   {% else %}
   <title> simple blog </title>
   {% endif %}

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">JEE BLOG</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('tags',tag="Basic") }}">Explore</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content%}
    {% block app_content %}
    {% endblock %}
{% endblock%}