{% extends "base.html" %}
{%block content %}
      {% for post in posts %}
         <div class="card mb-3">
<img src="{{ url_for('uploads',filename=post.img) }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
     
    <p class="card-text">  
      {% filter markdown %} 
      {{ post.body | truncate(150) }}
      {% endfilter %}
        </p>
    
    <small class="text-muted">Last updated 3 mins ago</small>
    <a class="" href="{{ url_for('post',post_name=post.title)}}">Read More</a>
{% for p in post.tags %}
        <a class="badge badge-info" href="{{ url_for("tags",tag = p.name) }}"># {{ p.name }}</a>
        {% endfor %}
  </div>
</div>
{% endfor %}

{% endblock %}



